body {
    margin: 0;
    background-color: #b5b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    max-width: 425px;
    border-radius: 15px;
    overflow: hidden;
}

#display {
    padding: 20px;
    font-size: 3rem;
    color: white;
    background-color: hsl(0, 0%, 20%);
    font-weight: bold;
}

button {
    height: 80px;
    font-size: 1.5rem;
    font-weight: bold;
}

.display-4 {
    font-weight: bold;
}
